<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">返回主頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>新增餐點</h2>

            <script language="javascript">
                function ShowToday(){
                var Today=new Date();
                alert("現在時間是 " + Today.getFullYear()+ " 年 " + (Today.getMonth()+1) + " 月 " + Today.getDate() + " 日 " + Today.getHours() + " 時 " + Today.getMinutes() + " 分 " + Today.getSeconds() + " 秒 ");
                }
            </script>

                <form action = "/orderdetail/add" method = "post">
                    <div class="form">

                        <span class="name">餐點名稱: </span>
                        <span class="value"> 
                            <select name="foodname" >        
                                <% for(var i=0; i<result.length; i++) {%>
                                    <option value="<%= result[i].foodname %>"><%= result[i].foodname %></option>
                                <% } %> 
                            </select>
                        </span>  
                        <br/>
                        
                        <span class="name">餐點價格: </span>
                        <span class="value"> 
                            <select name="foodpoint" >        
                                <% for(var i=0; i<result.length; i++) {%>
                                    <option value="<%= result[i].foodpoint %>"><%= result[i].foodpoint %></option>
                                <% } %> 
                            </select>
                        </span>  
                        <br/>
                        
                        <span class="name">數量: </span>
                        <span class="value"><input type="number" name="foodno"></span>
                        <br/>
                              
                        <span class="name">桌號: </span>
                        <span class="value"><input type="text" name ="tableno" ></span>
                        <br/>

                        <span class="name">備註: </span>
                        <span class="value"><input type="text" name="customized" ></span>
                        <br/>


                        <span class="name"></span>
                        <span class="value"><input type="submit" name="ordtime" value="新增" ></span>
                    </form>

             <h3>查看菜單</h3>

                <table>
                    <thead>
                        <tr>
                            <th width="10%">餐點編號</th>
                            <th width="30%">餐點圖片</th>
                            <th width="40%">餐點名稱</th>
                            <th width="20%">金額</th>
                                               
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<result.length; i++) {%>
                            <tr>
                                <td><%= result[i].foodid %></a></td>
                                <td><%= result[i].foodimg %></td>
                                <td><%= result[i].foodname %></td>
                                <td><%= result[i].foodpoint %></td>                      
                            </tr> 
                        <% } %> 
                    </tbody>
                </table>
  
                    </div>       
                
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
