<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="javascript:history.back()">上ㄧ頁</a></li>
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">

            <h2>訂單明細資料更新 </h2>

                <form action = "/orderdetail/update" method = "post">
                    <div class="form">

                        <span class="name">訂單明細編號:</span>
                        <span class="value"><input type="text" name="orderdetailid" value="<%= result.orderdetail.orderdetailid %>" readonly></span>
                        <br/>

                        <span class="name">會員帳號:</span>
                        <span class="value"><input type="text" name="memberphone" value="<%= result.orderdetail.memberphone %>" readonly></span>
                        <br/>

                        <span class="name">餐點名稱:</span>
                        <span class="value"><select name="foodname" >
                            <option value="">請選擇餐點</option>
                            <% for(var i=0; i<result.food.length; i++) {%>
                                <% if( result.food[i].foodname == result.orderdetail.foodname){ %>
                                    <option value="<%= result.food[i].foodname %>" selected><%= result.food[i].foodname %></option>
                                <% } else{ %>  
                                    <option value="<%= result.food[i].foodname %>" ><%= result.food[i].foodname %></option> <% } %>
                            <% } %>  
                        </select>
                        <br/>
                        
                        <span class="name">餐點價格:</span>
                        <span class="value"><select name="foodpoint" >
                            <option value="">請選擇餐點價格</option>
                            <% for(var i=0; i<result.food.length; i++) {%>
                                <% if( result.food[i].foodpoint == result.orderdetail.foodpoint){ %>
                                    <option value="<%= result.food[i].foodpoint %>" selected><%= result.food[i].foodpoint %></option>
                                <% } else{ %>  
                                    <option value="<%= result.food[i].foodpoint %>" ><%= result.food[i].foodpoint %></option> <% } %>
                            <% } %>  
                        </select>
                        <br/>
                        
                        <span class="name">餐點數量:</span>
                        <span class="value"><input type="text" name="foodno"  value="<%= result.orderdetail.foodno %>"></span>
                        <br/>

                        <span class="name">客製化:</span>
                        <span class="value"><input type="text" name="customized" value="<%= result.orderdetail.customized %>"></span>
                        <br/>

                       
                        <span class="name">桌號:</span>
                        <span class="value"><input type="text" name="tableno" value="<%= result.orderdetail.tableno %>"></span>
                        <br/>


                        <span class="name"></span>
                        <span class="value"><input type="submit"  name="ordtime" value="更新" ></span>    
                    </div>
                </form>
              
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
