<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->

</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="javascript:history.back()">上ㄧ頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">

            <h2>修改餐點資訊 </h2>

                <form action = "/food/update" method = "post">
                    <div class="form">
                        <span class="name">餐點編號:</span>
                        <span class="value"><input type="number" name="foodid" value="<%= result.food.foodid %>" readonly></span>
                        <br/>

                        <span class="name">類別名稱:</span>
                        <span class="value"><select name="itemname" >
                            <option value="">請選擇類別</option>
                            <% for(var i=0; i<result.item.length; i++) {%>
                                <% if( result.item[i].itemname == result.food.itemname){ %>
                                    <option value="<%= result.item[i].itemname %>" selected><%= result.item[i].itemname %></option>
                                <% } else{ %>  
                                    <option value="<%= result.item[i].itemname %>" ><%= result.item[i].itemname %></option>                                <% } %>
                            <% } %> 
                        </select>
                        <br/>

                        <span class="name">餐點名稱:</span>
                        <span class="value"><input type="text" name="foodname" value="<%= result.food.foodname %>" required="required"></span>
                        <br/>

                        <span class="name">餐點點數:</span>
                        <span class="value"><input type="text" name="foodpoint" value="<%= result.food.foodpoint %>" required="required"></span>
                        <br/>

                        <span class="name"></span>
                        <span class="value"><input type="submit" value="修改"></span>    
                    </div>
                </form>
              
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
